{{ .Header }}

{{ .GenStatement }}

// Package apis contains Kubernetes API for the provider.
package apis

import (
    "k8s.io/apimachinery/pkg/runtime"
    "k8s.io/apimachinery/pkg/runtime/schema"
    "sigs.k8s.io/controller-runtime/pkg/scheme"

	{{ .Imports }}
)

// GetRegisterMap returns a map for GVs to respective scheme builders.
func GetRegisterMap() map[schema.GroupVersion]*scheme.Builder {
    m := make(map[schema.GroupVersion]*scheme.Builder)
    for _, builder := range []*scheme.Builder{
		{{- range $alias := .Aliases }}
		{{ $alias }}SchemeBuilder,
		{{- end }}
    } {
        m[builder.GroupVersion] = builder
    }
    return m
}

